<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-signup.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/bg2.png') }}");
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>Sign up</h2>
        <form method="POST">
            <div class="input-container">
                <input placeholder="Name" class="input-field" type="text">
                <label for="input-field" class="input-label">Name</label>
                <span class="input-highlight"></span>
              </div>
              <div class="input-container">
                <input placeholder="Username" class="input-field" type="text">
                <label for="input-field" class="input-label">Username</label>
                <span class="input-highlight"></span>
              </div>
              <div class="input-container">
                <input placeholder="Password" class="input-field" type="password">
                <label for="input-field" class="input-label">Password</label>
                <span class="input-highlight"></span>
              </div>
            <button type="submit" class="btn btn-primary mt-3">Register</button>
        </form>
    </div>
</body>
</html>