body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #4C8DAE;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #F39C12;
}

.login-btn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4da6a6;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 25px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.4s ease;
    margin-right: 20px;
}

.login-btn a:hover {
    background-color: #397f7f;
    color: #ffffff;
}

.hero-section {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

/* Overlay to lighten the background for better text contrast */
.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
}

.hero-section h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #004085;
    padding: 10px;
    display: inline-block;
}

.hero-section p {
    font-size: 1.6rem;
    margin-bottom: 40px;
    font-weight: 600;
    color: #2C3E50;
    padding: 10px;
    display: inline-block;
}

.hero-btn {
    border: none;
    background-color: #e74c3c;
    color: #ffffff;
    padding: 12px 30px;
    font-size: 1.3rem;
    border-radius: 30px;
    transition: background-color 0.4s ease;
    text-align: center;
    display: inline-block;
}

.hero-btn:hover {
    background-color: #c0392b;
    text-decoration: none;
    color: #ffffff;
}

.blog-section {
    padding-top: 6.2rem;
    background-color: #ffffff;
}

.blog-section h2 {
    font-size: 2.8rem;
    color: #2C3E50;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
}

.blog-container {
    padding: 1.5rem 0 6rem 0;
}

.blog-card {
    background-color: #E8F6F3;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 25px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease, background-color 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    background-color: #D1ECE5;
}

.blog-card h3 {
    font-size: 1.8rem;
    color: #1A5276;
    margin-bottom: 15px;
    font-weight: 600;
}

.blog-card p {
    font-size: 1.1rem;
    color: #5D6D7E;
}

/* About Section */

.about-div h1 {
    color: #1A5276;
}

.about-div p {
    color: #555555;
}

/* services */

.service-section {
    padding-top: 6.2rem;
}

.service-section h2 {
    font-size: 2.8rem;
    color: #11698e;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
}

.service-container {
    padding-bottom: 6rem;
}

.box {
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #a8c1d7;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.box:hover {
    transform: translateY(-5px);
}

.box img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
}

.box p {
    color: #336666;
    font-size: 1rem;
}

.col-lg-3 {
    flex: 0 0 25%;
}

@media (max-width: 768px) {
    .col-lg-3 {
        flex: 0 0 50%;
    }
}

@media (max-width: 576px) {
    .col-lg-3 {
        flex: 0 0 100%;
    }
}

.col-lg-8, .col-lg-4 {
    height: 450px;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9F9F9;
    padding: 40px;
    border-radius: 8px;
    height: 100%;
}

.img-fluid {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

#content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #1A3A57;
}

#content p {
    font-size: 1.1rem;
    color: #4A4A4A;
}

/* Technologies */
.features-section h2 {
    font-size: 2.8rem;
    color: #2C3E50;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
}

.features-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.feature-card {
    transition: all 0.3s ease;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-icon {
    max-width: 50px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.feature-title {
    font-size: 1rem;
    color: #1A3D32;
    font-weight: 500;
    text-align: center;
}

/* footer */
.footer {
    background-color: #34495e; 
    color: #ecf0f1; 
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600;
}

.footer p strong {
    color: #f39c12;
}

/* Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}